* {
  margin: 0;
  padding: 0;
}

body {
  background-color: skyblue;
  background-image: -webkit-linear-gradient(45deg, #7c7e80 50%, #323333 50%);
  min-height: 800px;
}

#game {
  height: 500px;
  width: 390px;
  border: 1px solid black;
  margin: 1rem auto;
  background-image: url(images/road.jpg);
  background-size: contain;
  overflow: hidden;
}

#blueCar {
  height: 100px;
  width: 130px;
  background-color: blue;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  animation: move 1s linear infinite;
}

#blueCar img {
  height: 100px;
}

@keyframes move {
  0% {
    top: 0px;
  }

  100% {
    top: 501px;
  }
}

#redCar {
  height: 100px;
  width: 130px;
  background-color: red;
  position: relative;
  top: 250px;
  left: 130px;
  text-align: center;
}

#redCar img {
  height: 100px;
}

#result {
  height: 200px;
  width: 400px;
  background-color: rgb(231, 105, 105);
  margin: 1rem auto;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  display: none;
}

#score {
  font-size: 2.2rem;
  color: goldenrod;
}

#btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: cyan;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 25px;
}
